h1 {
  text-align: center;
}

img {
  width: 300px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.204);
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.27);
}

.recipes-list {
  text-align: center;
  margin: 40px 0;
}

body {
  padding: 1%;
  font-family: CopperPot, Helvetica, sans-serif;
}
